<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Welcome <%=username%></h4>
            </div>
            <div class="col-md-8">
                <a href="/logout"><button class="btn btn-danger me-2">Logout</button></a>
                <a href="/profile"><button class="btn btn-warning me-2">Profile</button></a>
                <a href="/allblog"><button class="btn btn-warning me-2">Blogs</button></a>
                <a href="/yourblogs"><button class="btn btn-success me-2">Your Blogs</button></a>
                <a href="/userprofiles"><button class="btn btn-warning me-2">Home</button></a>
                


            </div>
        </div>
    </div>
</section>